* {
	box-sizing: padding-box;
	font-family: sans-serif;
}
html { background: #002; color: #FFF; }
html,body,h1,hr { margin: 0; padding: 0; width: 100%; }
h1 {
	font-family: "Age", sans-serif;
	font-size: 200%;
	line-height: 200%;
	font-weight: 400;
	text-transform: lowercase;
}
body { padding-left: 20px; }

hr {
	height: 1px;
	border-top: 1px solid #FFF; outline: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
